* {
	overflow-x: hidden;
}

/* MENU */
.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    box-shadow: 1px 1px 5px #000;
    /*opacity: 0.9;*/
}

.navbar .nav-item .nav-link {
  color: #165591;
  font-size: 18px;
}
        
.nav-link::after{
    content: "|";
    padding-left: 10px;
    color: #165591; 
}

a.nav__link{
    text-decoration: none;
    background-image: linear-gradient(#17a2b8, #17a2b8);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}
a.nav__link:hover, a.nav__link:focus {
    background-size: 100% 4px;
}
a.nav__link > i {
    display: inline-block;
}

    
.navbar-nav > li:last-child > a::after {
    content:none;
} 

.navbar .down_menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #FFF; /* change color here, modified for a black arrow */
    position: absolute;
    top: -6px;
    right: 10px; 
}

.btn_miscursos, .btn_miscursos a, .btn_miscursos hover{
    color: #165591;
    text-decoration: none !important;
}

.blue-background {background-color:#165591;}

.blue-outline {border: 1px #165591 solid; color:#165591;}

.blue-text, .blue-text a, .blue-text hover {color:#165591;}

.grey-fort, grey-fort a, grey-fort hover {color:#6c757d;}

.white {color:#ffffff;}

.breadcrumb-text{ text-transform: uppercase; font-size: 14px;}

.cursos a{
    font-size: 12px;
}

/* MENU USER */
.acces{
    background-color: #17a2b8;
    border-radius: 0.5rem;
    padding: .1rem .1rem;
}
.acces a{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: 300;
}

.edit-user{
    font-size: 11px;
    color: #DDD;
}

.ico_user{
    font-size: 16px;
}

.sep-user{
    text-align: center;
    width:90%;
    margin-top:2px;
    margin-bottom:3px;
}

.circulo {
    float: right;
    width: 1.0rem;
    height:1.0rem;
    border-radius: 50%;
    background: #17a2b8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0px auto;
    padding:3%
}

.circulo > span {
    font-family: sans-serif;
    color: white;
    font-size: 0.6rem;
    font-weight: bold;
}



.options-menu-user, .options-menu-user a{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    border-radius: 0.5rem;
    padding: .2rem .6rem;
}

.main-header {
  position: relative;
  background: url(../img/background-team3.jpg);
  /*background: url(../img/background-team3.jpg) #004990 no-repeat fixed center;*/
  background-size: cover;
  min-height: 400px;
}

.background-overlay {
  background: rgba(48, 51, 107,.7);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 400px;
}

.icon-whyaulamayo img{
    transition: all 300ms
}

.icon-whyaulamayo img:hover{
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}

div.card-canal:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

div.card-canal a:link, div.card-canal a:visited, div.card-canal a:hover , div.card-canal a:active {
    text-decoration: none;
}

.border-subfooterrightgrey{
    border-right: 1px solid #DDD;
}

.search-input{
    max-width: 500px;
}

.btn-search-cursos{
    background-color: #FFF;
    color: grey;
}

/* ACORDION BOTTSTRAP */
.card-header{
    cursor: pointer;
}

.accordion .card-header:after {
    /*font-family: 'FontAwesome';*/  
    color:#165591;
    font-weight: bold;
    font-size: 28px;
    /*content: "\f068";*/
    content: "-";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    /*content: "\f067";*/
    content: "+"; 
    color:#165591;
    font-weight: bold;
    font-size: 26px;
}


/* CONTACTO */
.btn-form-contact{
    background-color: #FFF;
    border-right: 0px;
    font-size: 24px;
    padding-left:  10px;
    padding-right: 1px;
    
}

#contact-form input, #login-form input, #forgetpassword-form input, #registro-form input{
    border-left: 0px;
    border-color: #DDD;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#registro-form select{
    border-color: #DDD;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#contact-form textArea{
    border: 1px #DDD solid;
    border-color: #DDD;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    padding:5px 5px 5px 8px;
    color: #6c757d;
}



/* PODEMOS AYUDARTE */
*{box-sizing:border-box;}
/* Extra centrado vertical*/
.social{
    width:107px;
    position:fixed;
    /*top:50px;*/
    right:-2px;
    
    top:72%;
    height:205px;
    /*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
    margin-top:-100px;
    z-index: 999;
}

/* POPUP CANALES */
*{box-sizing:border-box;}
/* Extra centrado vertical*/
.canales{
    width:107px;
    position:fixed;
    /*top:50px;*/
    left:-2px;
    
    top:50%;
    /*height:205px;*/
    /*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
    margin-top:-100px;
    z-index: 999;
}


/*++++++++++++++++*/
/*   TO THE TOP   */
/*++++++++++++++++*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 34px; /* Place the button at the bottom of the page */
  right: 34px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #00B0B6; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0px; /* Some padding */
  border-radius: 45px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
  width: 40px;
  height: 40px;
  transition: 0.3s; 
  color:#FFF;
  
}
#myBtn .lnr{opacity: 0.8;}

#myBtn:hover {
  background-color: #00B0B6; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  
}

#myBtn:hover .lnr{
    top:-5px;
    opacity: 1;
}
#myBtn:active{
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.0); 

}







/* LOGIN */
.btn-sesion{
    font-size: 18px;
}

.form-header{
    text-align: center;
    padding: 15px 40px;
}
.form-header i{ font-size:60px; }

.form-control{
    outline: none;
}

/*.has-error{color:#ff0000 !important;}   #a94442  #78b310*/
.has-error{color:#a94442 !important;}

.has-success{color:#78b310 !important;}

.has-error input{
    border-top:1px solid #a94442 !important;
    border-right:1px solid #a94442 !important;
    border-bottom:1px solid #a94442 !important;
    border-left:0px !important;
}
.has-error span{
    border-top:1px solid #a94442 !important;
    border-right:0px !important;
    border-bottom:1px solid #a94442 !important;
    border-left:1px  solid #a94442 !important;
}

.has-success input{
    border-top:1px solid #78b310 !important;
    border-right:1px solid #78b310 !important;
    border-bottom:1px solid #78b310 !important;
    border-left:0px solid #78b310 !important;
}
.has-success span{
    border-top:1px solid #78b310 !important;
    border-right:0px !important;
    border-bottom:1px solid #78b310 !important;
    border-left:1px  solid #78b310 !important;
}

.message_success{background-color: #78b310; color:#fff;padding: 5px;}
.message_error{background-color: #e74c3c; color:#fff;padding: 5px;}
.help-block{
    margin-left:10px;
}
/* END LOGIN */



























/* MEDIAQUERIES */
@media (max-width: 768px) {

    /* MENU */
    .nav-link::after {
        content: none;
        padding-left:0;
    }
    
    .tit-reserva{
        font-size: 32px;
    }

}